extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
						div.signup-wall
							ul.user-details
								li Username ---> #{user.username}
								li Name ---> #{user.name} 
								li Surname ---> #{user.surname}
								li User Type    ---> #{user.user_type}
								li Phone    ---> #{user.phone}
								li Date of Birth    ---> #{user.date_of_birth}
						a(href='/signout', class='text-center new-account') Sign Out